---
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/util";
import type { Post } from "@/types";

const meta = {
	title: "Davirain's blog",
	description: "This is my blog.",
};

const MAX_POSTS = 10;
const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">Hello World!</h1>
		<p class="mb-4">
			My Chinese name is Su Yirong, and my English name is davirain.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="mb-4 text-xl title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="mb-4 text-xl title">My projects or Iinvolved in maintaining</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://github.com/octopus-network/substrate-ibc.git"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>substrate-ibc
				</a>:
				<p class="inline-block sm:mt-2">IBC protocol implemented by substrate pallet.</p>
			</li>
			<li>
				<a
					href="https://github.com/DaviRain-Su/monkey-interpter.git"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Monkey interpeter
				</a>:
				<p class="inline-block sm:mt-2">
					Monkey language interpreter Rust language implementation.
				</p>
			</li>
			<li>
				<a
					href="https://github.com/DaviRain-Su/algorithms.git"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>algorithms
				</a>:
				<p class="inline-block sm:mt-2">
					Introduction to algorithms thrid edition implement by rust, rescript.
				</p>
			</li>
			<li>
				<a
					href="https://github.com/DaviRain-Su/blockchain-tourtials.git"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>blockchain-tourtials
				</a>:
				<p class="inline-block sm:mt-2">block chain tech tourtials</p>
			</li>
			<li>
				<a
					href="https://davirain-su.github.io/example-context-generic/"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>blockchain-tourtials
				</a>:
				<p class="inline-block sm:mt-2">关于Rust的上下文泛型编程（Context Generic Programming）</p>
			</li>
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="mb-4 text-xl title">我的开源贡献</h2>
		<ul class="space-y-4 sm:space-y-2">
		    <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/758"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">Refactor Height parsing logic and add test cases  for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/754"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">use ibc_proto::protobuf::Protobuf to replace tendermint_proto::Protobuf  for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/732"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">Fix 729  for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/731"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">feat: use FromStr in client_type functions to construct ClientType for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/730"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">Remove Header trait (#617) from IBC crate for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/64bit/async-openai/pull/79"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>async-openai
				</a>:
				<p class="inline-block sm:mt-2">Add function call request param for async-openai</p>
			</li>
		    <li>
				<a
					href="https://github.com/informalsystems/hermes/pull/3383"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>hermes
				</a>:
				<p class="inline-block sm:mt-2">Clean code for hermes</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-proto-rs/pull/104"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-proto-rs
				</a>:
				<p class="inline-block sm:mt-2">Downupgrade borsh version  for ibc-proto-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/cosmos-rust/pull/406"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">fix public_key.rs to_any function for ibc-rs</p>
			</li>
	        <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/693"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">fix TypeInfo implement for Timestamp for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/688"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">Fix Timestamp borsh failed and Improve parity-scale-codec Timestamp for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/653"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">Add serialization for various structs and enums for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/438"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">Add conversion from &IbcEvent to abci::Event for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/paritytech/substrate/pull/13076"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>substrate
				</a>:
				<p class="inline-block sm:mt-2">Move beefy-merkle-tree to utils/binary-merkle-tree and make it generic for substrate</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/321"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">Add parity-scale-codec and borsh for IbcEvent for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-proto-rs/pull/48"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-proto-rs
				</a>:
				<p class="inline-block sm:mt-2">Add parity-scale-codec and borsh feature for Any for ibc-proto-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/318"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">Make the mocks feature work with no_std for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/312"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">Fix add codec and borsh for Acknowledgement, Receipt and ModuleEvent for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/273"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">Add codec borsh feature for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/255"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">Refactor error system for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/247"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">Rename ics context for ibc-rs</p>
			</li>
	        <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/243"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">Fix host_height, host_timestamp return value for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/238"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">Add other error item for ibc-rs</p>
			</li>
	        <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/232"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">Add getter function for element of ics04 event for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc-rs/pull/161"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc-rs
				</a>:
				<p class="inline-block sm:mt-2">Public PrefixedDenom inner type and add as_str func for BaseDenom for ibc-rs</p>
			</li>
		    <li>
				<a
					href="https://github.com/informalsystems/hermes/pull/2596"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>hermes
				</a>:
				<p class="inline-block sm:mt-2">Small code quality improvements for hermes</p>
			</li>
		    <li>
				<a
					href="https://github.com/KokaKiwi/rust-hex/pull/73"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>rust-hex
				</a>:
				<p class="inline-block sm:mt-2">Update README.md for rust-hex</p>
			</li>
		    <li>
				<a
					href="https://github.com/informalsystems/hermes/pull/2115"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>hermes
				</a>:
				<p class="inline-block sm:mt-2">Remove ics07 unwrap() and update ibc protocol spec link for hermes</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc/pull/664"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc protocol
				</a>:
				<p class="inline-block sm:mt-2">ICS26: Add lookupModule to handleChanOpenAck for ibc spec</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ibc/pull/664"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ibc protocol
				</a>:
				<p class="inline-block sm:mt-2">ICS26: Add lookupModule to handleChanOpenAck for ibc spec</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ics23/pull/44"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ics23
				</a>:
				<p class="inline-block sm:mt-2">Fix cargo protoc error for ics23</p>
			</li>
		    <li>
				<a
					href="https://github.com/cosmos/ics23/pull/41"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>ics23
				</a>:
				<p class="inline-block sm:mt-2">support ics23 no-std for ics23</p>
			</li>
		    <li>
				<a
					href="https://github.com/informalsystems/hermes/pull/1078"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>hermes
				</a>:
				<p class="inline-block sm:mt-2">Use flex-error for ics20 and ics07 for hermes</p>
			</li>
			<li>
				<a
					href="https://github.com/rbatis/abs_admin/pull/3"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>abs_admin
				</a>:
				<p class="inline-block sm:mt-2">Fix Some code for abs_admin</p>
			</li>
		</ul>
	</section>
</PageLayout>
